* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin-top: 7%;
    margin-bottom: 7%;
}

#finished {
    margin-top: 25%;
    height: 200px;
}

div {
    margin-left: 25%;
    height: 640px;
    width: 50%;
    border: grey 2px solid;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(204, 233, 233);
}

label {

}

input {
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    margin-bottom: 5px;
    border-radius: 10px;
}

h2 {
    padding-left: 10px;
    padding-right: 10px;
}
